.col-2,.col-4,.col-6{
    border: 2px solid black;
}

h1{
    padding-left: 350px;
    color: brown;
}

#headingId{
    padding-left: 210px;
    font-size: 30px;
    font-weight: 600;
   padding-top: 20px;
   padding-bottom: 20px;
}

#imageId{
    border-radius: 50%;
}
